<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OpenFinApp-Name" value="openfin-embedded-web"/>
    <add key="OpenFinApp-UUID" value="openfin-embedded-web"/>
    <add key="OpenFinApp-Url" value="http://localhost:9070/chart.html"/>
  </appSettings>
</configuration>